/* Enter your custom styles here */


.backgroundPanel{
	background:#eff4f9;
}


.classTbDocTransporte .sapUiTableCnt{
	    margin-top: -15%;
}

span[data-mydata="rojo"] { color: red !important; }
span[data-mydata="negro"] { color: black !important; }


.Resumen .sapMLIB{
	    align-items: normal !important;
}